.Card{
    background-color: white;
    width: 450px;
    height: fit-content;
    margin: 15px 0px;
    border-radius: 20px;
    display: flex;
    box-shadow: 4px 4px 10px 
            rgba(0, 0, 0, 0.50);
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.circuitImg{
    height: 127px;
}

.circuitInfo {
    text-align: center;
    width: 100%;
    /* margin-left: 20px; */
}

.circuitCup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 10px 0 0;
}

.circuitCup h4{
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
}

.cupImg {
    height: 36px;
    margin-right: 7px;
}

.circuitName h3{
    margin: 18px 0 0 0;
    
}

.circuitDone {
    z-index: 9;
    opacity: 0.9;
    background-color: #31393c;
    height: 127px;
    width: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circuitDone h3 {
    opacity: 1;
    color: white;
}

@media (max-width: 800px){
    .Card{
        width: 85vw;
        border-radius: 0.5em;
        margin: 7px 0px;
    }
    .cupImg {
        height: 40px;
    }
    .circuitImg{
        height: 100px;
    }
    .circuitCup {
        margin-top: 10px;
    }
    .circuitCup h4{
        font-size: 15px;
    }
    .circuitName h3{
        font-size: 20px;
        margin: 5px 0 15px 0;
    }
    .circuitDone{
        height: 100px;
    }
}

